<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Be.Windows.Forms.HexBox" version="1.6.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="PacketDotNet" version="0.13.0" targetFramework="net451" />
  <package id="SharpPcap" version="4.2.0" targetFramework="net451" />
</packages>